<div class="home">
  <div class="row-fluid">
    <div class="span12">
      <img class="welcome-splash" src="/assets/woman-sleeping.jpg"></img>
      <p class="quote wt064">
      <span class="quote-left">“</span>世界上最舒服的耳機<span class="quote-emphasis">－睡眠耳機<span class="quote-right">”</span></span>
      </p>
    </div>
  </div>
</div>
<div class="diviser" id="product"></div>
<div class="product">
  <div class="row-fluid">
    <div class="span6">
      <img class="product" src="/assets/product_intro_1.png"></img>
    </div>
    <div class="span6 product-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="span12 youtube">
      <iframe class="youtube-player" type="text/html" width="640" height="480" src="http://www.youtube.com/embed/TO23UbGiCFo?HD=1;rel=0;showinfo=0;controls=0" allowfullscreen frameborder="0">
      </iframe>
    </div>
  </div>
</div>
<div class="diviser" id="shopping"></div>
<div class="shopping">
  <div class="row-fluid">
    <div class="span12 title">
      馬上購買
    </div>
    <div class="span12">
      <p class="logo">
        <a href="http://goods.ruten.com.tw/item/show?21101013153222" target="_blank">
          <img src="/assets/ruten.png"></img>
        </a>
      </p>
      <p class="logo">
        <a href="http://tw.page.bid.yahoo.com/tw/auction/c89192143;_ylt=AtVx7Cmk.8y6r3KFAZp9zwKpFLJ8?actsrch=srp3" target="_blank">
          <img src="/assets/yahoo-kimo.png"></img>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="carousel slide media" id="media-carousel">
  <div class="carousel-inner">
    <div class="item media-quote">
      <span class="media-logo">
        <a href="http://www.sfgate.com/business/prweb/article/Sleep-Phones-Headphones-Designed-to-Help-4180817.php" target="_blank">
          <img src="/assets/san-francisco-chronicle.png"></img>
        </a>
      </span>
      <span class="media-text"><span class="quote-left">“</span>減弱枕邊人的鼾聲，回歸自然的睡眠作息<span class="quote-right">”</span></span>
    </div>
    <div class="item media-quote">
      <span class="media-logo">
        <a href="http://articles.chicagotribune.com/2010-11-09/travel/sc-trav-1109-business-class-20101109_1_hotel-room-business-class-hard-drive" target="_blank">
          <img src="/assets/chicago-tribune.png"></img>
        </a>
      </span>
      <span class="media-text"><span class="quote-left">“</span>解決如何一邊聽音樂一邊沈入夢鄉的古老課題<span class="quote-right">”</span></span>
    </div>
    <div class="item media-quote">
      <span class="media-logo">
        <a href="http://voices.yahoo.com/sleepphones-win-innovation-award-ces-let-users-11973540.html?cat=15" target="_blank">
          <img src="/assets/yahoo-voices.jpg"></img>
        </a>
      </span>
      <span class="media-text"><span class="quote-left">“</span>2013 國際消費電子展設計與工程創新大獎得主<span class="quote-right">”</span></span>
    </div>
    <div class="active item media-quote">
      <span class="media-logo">
        <a href="http://www.bbc.com/travel/slideshow/20111109-best-travel-accessories" target="_blank">
          <img src="/assets/bbc.png"></img>
        </a>
      </span>
      <span class="media-text"><span class="quote-left">“</span>在任何情形下都能安然入睡<span class="quote-right">”</span></span>
    </div>
    <div class="item media-quote">
      <span class="media-logo">
        <a href="http://www.dailymail.co.uk/sciencetech/article-2260912/iSleep-The-headphones-wear-bed-waking-partner.html?ito=feeds-newsxml" target="_blank">
          <img src="/assets/mail-online.gif"></img>
        </a>
      </span>
      <span class="media-text"><span class="quote-left">“</span>你能帶上床的耳機<span class="quote-right">”</span></p>
    </div>
  </div>
  <a class="carousel-control left" href="#media-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#media-carousel" data-slide="next">&rsaquo;</a>
</div>
