html, body {
  background-color: rgba(0, 0, 0, .1);
  height: auto;
}

body a:link {
  text-decoration: none;
}

.container-fluid {
  margin-left: 40px;
  margin-right: 40px;
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.065);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  background-color: #f5f5f5;
}

.content {
  min-height: 600px;
}

.span3 .sidebar-nav {
  list-style-type: none;
  font-size: 36px;
  border: 0;
  box-shadow: none;
  text-align: right;
}

.span9 .posts {
  margin-left: 30%;
  height: 100%;
}

.span9 .blog-post {
  margin-left: 30%;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100%;
}

.span9 .posts .post {
  border-bottom: 1px solid #E3E4FA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.span9 .post .post-item-title a:link,
.span9 .post .post-item-title a:visited {
  color: #443344;
}

.span9 .post .post-item-meta {
  color: #b3b3b1;
}

.span9 .post .post-item-snippet {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-nav a {
  text-decoration: none;
}

.footer {
  margin-top: 45px;
  margin-left: 0;
  margin-right: 0;
  border-top: none;
}
