html, body {
  height: 100%;
  color: #443344;
  text-shadow: 0.1em 0.1em #eeeeee;
}

body:lang(zh-tw) {
  font-family: WCL-06;
}

.navbar-inner {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-image: none;
  background-color: rgba(136, 136, 187, 0.5);
  border: 0;
}

.navbar .brand {
  padding-top: 13px;
  color: #666699;
}

ul.nav {
  font-size: 28px;
  float: right !important;
  text-shadow: none;
  margin: 0 30px 0 0 !important;
}

li [class^="icon-"] {
  color: #666699;
}

li [class^="icon-"]:hover {
  color: #f5f5f5;
}

.footer {
  padding: 107px 0 10px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer .copy {
  text-align: center;
}

.footer .notes {
  text-align: center;
  font-size: 22px;
}

.footer .notes a {
  text-decoration: none;
}

.home {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.product {
  background: #eeeeee;
}

.media {
  background: #eeeeee;
}

.shopping {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.shopping .media-logo a {
  outline: none;
  border: 0px none transparent;
  text-decoration: none;
}

.shopping .media-logo img {
  margin: auto;
}

.shopping .media-logo {
  margin-left: 50px;
  margin-right: 50px;
  display: inline;
}

.home {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.shopping {
  height: 100%;
}

.shopping .row-fluid {
  padding-top: 80px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.product .row-fluid {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.home img.welcome-splash {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, .2);
}

.home p.quote {
  font-size: 22px;
  color: #777777;
  position: absolute;
  top: 18%;
  left: 46%;
}

.home {
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

h1.heading {
  padding-top: 88px;
  text-align: center;
}

.row-fluid {
  padding-top: 88px;
  margin-bottom: 80px;
}

.row-fluid .product-description {
  padding-right: 50px;
  padding: 15px;
  font-size: 18px;
}

.media-logo {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
}

.media-quote {
  width: 100%;
  text-align: center;
  font-size: 30px;
  display: block;
}

.media {
  margin-top: 0;
}

.row-fluid.media {
  margin-top: 0;
  margin-bottom: 0;
}

.row-fluid.media.top {
  height: 140px;
}

.row-fluid.media.bottom {
  height: 280px;
}

h1#media {
  margin-bottom: 99px
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #8888bb;
}

.tooltip-inner {
  background-color: #8888bb;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
