html, body {
  height: 100%;
  color: #443344;
}

body:lang(zh-tw) {
  font-family: WCL-06;
}

.navbar-fluid-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-image: none;
  background-color: rgba(227, 228, 250, 0.9);
  border: 0;
  height: 80px;
}

.navbar-fluid-top .container-fluid {
  height: 100%;
}

.navbar-fluid-top .container-fluid .nav li {
  margin-top: 18px;
  margin-bottom: 20px;
}

.diviser {
  height: 80px;
  margin-bottom: 0;
  background-color: #eeeeee;
}

.navbar .brand {
  color: #666699;
  display: none;
}

.navbar .logo {
  background-image: url(sleepphones-logo.png);
  height: 50px;
  width: 203px;
  display: inline;
  float: left;
  margin-top: 15px;
}

ul.nav {
  font-size: 28px;
  float: right !important;
  margin: 0 30px 0 0 !important;
}

ul.sidebar {
  list-style-type: none;
}

li [class^="icon-"] {
  color: #666699;
}

li [class^="icon-"]:hover {
  color: #666699;
}

.footer {
  padding: 10px 0 2px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #E3E4FA;
}

.footer .copy {
  text-align: center;
}

.footer .notes {
  text-align: center;
  font-size: 22px;
  color: #666699;
}

.footer .notes a {
  text-decoration: none;
  color: #666699;
}

.home {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

.product {
  background: #eeeeee;
}

.media {
  background: #eeeeee;
  height: 125px;
}

.shopping {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  height: 390px;
  padding-top: 25px;
}

.shopping .span12 {
  margin-left: 0;
}

.shopping .row-fluid {
  padding-top: 0;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.shopping .title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}

.shopping .logo a {
  outline: none;
  border: 0px none transparent;
  text-decoration: none;
}

.shopping .logo img {
  margin: auto;
  max-width: 300px;
  max-height: 300px;
}

.shopping .logo {
  width:100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  display: inline;
}

.home {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.product .row-fluid {
  margin-bottom: 0;
  padding-bottom: 40px;
}

.home img.welcome-splash {
  width: 100%;
}

.home p.quote {
  font-size: 36px;
  line-height: 36px;
  position: absolute;
  top: 45%;
  left: 38%;
}

.home p.quote .quote-emphasis {
  display: block;
  margin-left: 339px;
  margin-top: 36px;
}

.home {
  margin-left: auto;
  margin-right: auto;
}

h1.heading {
  padding-top: 88px;
  text-align: center;
}

.row-fluid {
  padding-top: 0;
  margin-bottom: 0;
}

.row-fluid .product-description {
  padding-right: 50px;
  padding-top: 50px;
  font-size: 18px;
}

.media-logo {
  width: 50%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
}

.media-text {
  width: 50%;
}

.media-quote {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  display: block;
}

.media {
  margin-top: 0;
  margin-bottom: 0;
}

.media .carousel-inner {
  margin-top: 5px;
}

.row-fluid.media {
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip.bottom .tooltip-arrow {
  margin-top: 12px;
  border-bottom-color: #666699;
}

.tooltip-inner {
  margin-top: 12px;
  background-color: #666699;
  font-size: 12px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.quote-left, .quote-right {
  font-size: 60px;
  position: relative;
  top: 10px;
}

.quote-left {
  padding-right: 7px;
}

.quote-right {
  padding-left: 4px;
}

div.youtube {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  margin-left: auto !important;
}

.blog .row-fluid {
  padding-top: 0;
}

.blog .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.blog .span3 .sidebar-nav {
  list-style-type: none;
  font-size: 36px;
  background-color: white;
  border: 0;
  box-shadow: none;
  text-align: right;
}

.blog .span9 .posts {
  margin-left: 50px;
}

.blog .span9 .posts .post {
  border-bottom: 1px solid #E3E4FA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .span9 .post .post-item-meta {
  color: #b3b3b1;
}

.blog .span9 .post .post-item-snippet {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog .sidebar-nav a {
  text-decoration: none;
}
