html, body {
  height: 100%;
  color: #443344;
  text-shadow: 0.1em 0.1em #eeeeee;
}

ul.nav {
  font-size: 28px;
  float: right !important;
}

li [class^="icon-"] {
  color: #8888bb;
}

li [class^="icon-"]:hover {
  color: #666699;
}

li [class$="-media"] {
  color: #bb8899;
}

li [class$="-media"]:hover {
  color: #997777;
}

.footer {
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  height: 100%;
}

.footer .copy {
  text-align: center;
}

.main img.welcome-splash {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, .2);
}

.main p.quote {
  font-size: 22px;
  color: #777777;
  position: absolute;
  top: 18%;
  left: 46%;
}

.main {
  width: 960px !important;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

h1.heading {
  padding-top: 88px;
  text-align: center;
}

.row-fluid {
  padding-top: 88px;
  margin-bottom: 80px;
}

.row-fluid .product-description {
  padding-right: 50px;
  padding: 15px;
  background: #eeeeee;
  font-size: 18px;
}

.navbar-inner {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(250, 250, 250, 0.9);
  background-image: none;
}

.navbar .brand {
  padding-top: 13px;
}

.media-logo {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
}

.media-quote {
  width: 100%;
  text-align: center;
  font-size: 30px;
  display: block;
}

.row-fluid.media {
  margin-bottom: 0;
  background: #eeeeee;
}

.row-fluid.media.top {
  height: 140px;
}

.row-fluid.media.bottom {
  height: 280px;
}

h1#media {
  margin-bottom: 99px
}
